body{
    background-image: url(https://wallpapercave.com/wp/B5u0Gkp.gif);
}

#nomor1{
    border-radius: 5%;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid blue;
}
#nomor2{
    border-radius: 5%;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid blue;
}

#hasil{
    border-radius: 5%;
    text-align: center;
    background-color: aquamarine;
    border: 2px solid blue;
}

.judul{
    color:black;
    background-color: blue;
    width: 400px;
    font-size: 25px;
}

